// Place all the styles related to the cells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cell_alive {
  height: 2px;
  width: 2px;
  background-color: yellow
}
